<div class>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
       <%= render 'users/user', user: @user %>
       <%= render 'books/book', book: @new_book %>
    </div>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table>
          <tbody>
            <tr>
             <td><%= image_tag @book.user.get_profile_image(50,50) %><br>
                 <%= link_to @book.user.name, user_path(@book.user.id) %></td>
             <td><%=link_to @book.title %></td>
             <td><%= @book.body %></td>
             <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id) %>
              <% end %>
             </td>
             <td>
             <% if @book.user == current_user %>
               <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>
             <% end %>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
